/* Technologies   */


.technologies {
  width: 100%;
  padding: 70px 80px;
  background: #ffffff;
  box-sizing: border-box;
}

.technologies-header {
  margin-bottom: 32px;
}

.technologies-header h1 {
  margin: 0 0 8px;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #222222;
}

.technologies-header h1 span {
  color: #d946ef;
}

.technologies-header p {
  margin: 0;
  font-size: 13px;
  color: #888888;
}


.technologies-content {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 22px;
  align-items: start;
}


/* Card */

.technology-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.technology-card {
  height: 245px;
  padding: 16px;

  box-sizing: border-box;

  border: 1px solid #e9e9e9;
  border-radius: 10px;

  background: #ffffff;

  display: flex;
  flex-direction: column;
}


.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 14px;
}

.card-top img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.badge {
  padding: 5px 8px;

  border-radius: 20px;

  background: #f0faf5;
  color: #7da58e;

  font-size: 8px;
}


.technology-card h2 {
  margin: 0 0 8px;

  font-size: 16px;
  line-height: 1.3;

  font-weight: 600;

  color: #333333;
}

.technology-card > p {
  margin: 0;

  font-size: 10px;
  line-height: 1.55;

  color: #999999;

  flex: 1;
}




.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 12px 0;

  font-size: 8px;
  color: #777777;
}

.technology-card > button {
  width: 100%;
  height: 32px;

  border: none;
  border-radius: 6px;

  background: #4b5563;
  color: #ffffff;

  font-size: 10px;

  cursor: pointer;
}

.technology-card > button:hover {
  background: #374151;
}

/* Stack */

.your-stack {
  width: 250px;

  padding: 18px;

  box-sizing: border-box;

  border: 1px solid #e9e9e9;
  border-radius: 10px;

  background: #ffffff;
}

.your-stack h2 {
  margin: 0 0 5px;

  font-size: 17px;
  font-weight: 600;

  color: #333333;
}

.your-stack > p {
  margin: 0 0 16px;

  font-size: 9px;
  color: #aaaaaa;
}

.stack-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;

  margin-bottom: 8px;

  border: 1px solid #eeeeee;
  border-radius: 7px;
}

.stack-item img {
  width: 25px;
  height: 25px;

  object-fit: contain;
}

.stack-item > div {
  flex: 1;
  margin-left: 8px;
}

.stack-item h3 {
  margin: 0;

  font-size: 10px;
  font-weight: 600;

  color: #444444;
}

.stack-item small {
  font-size: 8px;
  color: #aaaaaa;
}

.stack-item button {
  border: none;
  background: transparent;

  color: #aaaaaa;
  font-size: 16px;

  cursor: pointer;
}

/* Remove */


.remove-all {
  width: 100%;
  height: 32px;

  margin-top: 10px;

  border: 1px solid #edb5d2;
  border-radius: 6px;

  background: #ffffff;
  color: #d946ef;

  font-size: 9px;

  cursor: pointer;
}


/* For Tablet */

@media (max-width: 1024px) {

  .technologies {
    padding: 55px 40px;
  }

  .technologies-content {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .technology-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .your-stack {
    width: 100%;
  }
}


/* For mobile */

@media (max-width: 600px) {

  .technologies {
    padding: 40px 20px;
  }

  .technologies-header {
    margin-bottom: 25px;
  }

  .technologies-header h1 {
    font-size: 24px;
  }

  .technologies-header p {
    font-size: 11px;
    line-height: 1.5;
  }

  .technologies-content {
    display: flex;
    flex-direction: column;
  }

  .technology-grid {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 14px;
  }

  .technology-card {
    height: 245px;
  }

  .your-stack {
    width: 100%;
  }
}