*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background-color: white;
 
}
 
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo img {
  width: 80px;
  height: 136px;
  object-fit: contain;
}
.logo h1  {
  margin: 0;
  font-size: 22px;
  font-weight: 700;

}
.logo h1 span {
  color:#0F172A;
}
.logo h1 strong {
color: #DB2777;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links li {
  
  color: #475569;
  font-size: 14px;
  cursor: pointer;
}
.nav-links .active {
  color: #DB2777;
}
.auth-buttons{
  display: flex;
  align-items: center;
  gap: 12px;
}
.auth-buttons button {
 border: none ;
 padding: 9px 16px;
 border-radius: 8px;
 font-size: 13px;
 cursor: pointer;
}
.sign-in {
  background-color: transparent;
  color: #0F172A;
  border: none;
  padding: 9px 0;

}
.auth-buttons .sign-up {
  background-color: #DB2777;
  color: white ;
  border: none;
}

